$page-backgrounud-color: #f5f5f5; // page background color
$font-family: sans-serif;   // font type
$hover-color-lightblue: #2289FF;    // hover font color

$button-hover-colors: ("light-blue": #015ac0);  // hover button color map

$shades-of-blue: ("light-blue": #2289FF, // shades of blue map
    "dark-blue": #105099,
    "form-blue": #186AA5,
    "very-dark-blue": #017ac0,
    "navy-blue": #14395B);